/* 초기화 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {box-sizing: border-box; font-size: 16px; color: #333;} p {margin: 0;}
body {margin:0; font-family: 'Noto Sans KR', sans-serif; letter-spacing: -.5px;}
ul {list-style: none; padding: 0; margin:0;}
h1,h2,h3,h4,h5,h6 {margin:0;}
a {text-decoration: none; display: block;} a:hover {color:var(--main)} a:visited {color: #333;}
:root {
    --main : #648FFF;
    --sub1 : #8C64FF;
    --sub2 : #FF6464;
}
body {background: #f8f8f8; }

// 헤더
header, .main, footer {
    margin: 0 auto;
    max-width: 480px;
    background: #fff;
    border:1px solid red;
}

header {
    position: fixed;
    top: 0; z-index: 4;
    left: 50%; transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    width: 480px;
    background: #fff;
    @media (max-width:480px) {width: 100%;}
    height: 50px;
    > span > a > i {
        padding: 24px;
        font-size: 18px;
    }
    > span:nth-child(1) > a > i {
        font-size: 24px;
    }
    > span:nth-child(2) > a > img {
        height: 20px;
    }
}

// 후터
footer {
    text-align: center;
}

footer > p:nth-child(1) {
    background: #3f3f3f;
    padding: .5rem 0;
    > span {
        font-size: 13px;
        color: #888;
        > span {
            color: #555;
            margin: 0 1rem;
        }
    }
}

footer > address {
    background: #333;
    padding: 1rem 0;
    > p {
        font-size: 13px;
        color: #888;
        font-style: normal;
    }
}

.popup {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #eee;
    width: 400px;
    margin: 0 auto;
    height: 87%;
    background: #fff;
    @media (max-width:480px) {
        width: 85%;
    }
    border-radius: 8px;
    > i {
        float: right;
        margin: 10px 10px 0 0;
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }
}
.popBg {
    content: "1";
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: .4;
}
